<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campaign Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Campaign Details</h1>
        <p><strong>Campaign Code:</strong> <span th:text="${campaign.campaignCode}"></span></p>
        <p><strong>Campaign Name:</strong> <span th:text="${campaign.name}"></span></p>
        <p><strong>Description:</strong> <span th:text="${campaign.description}"></span></p>
        <p><strong>Organizer Email:</strong> <span th:text="${campaign.organiserEmail}"></span></p>
        <p><strong>Age:</strong> <span th:text="${campaign.age}"></span></p>
        <p><strong>Discount Percentage:</strong> <span th:text="${campaign.discountPercentage}"></span>%</p>
        <p><strong>Start Date:</strong> <span th:text="${campaign.startDate}"></span></p>
        <p><strong>End Date:</strong> <span th:text="${campaign.endDate}"></span></p>
        <p><strong>Hall Rental Price:</strong> <span th:text="${campaign.hallRentalPrice}"></span></p>
        <p><strong>Created Date:</strong> <span th:text="${campaign.createdDateTime}"></span></p>
        <p><strong>Last Update:</strong> <span th:text="${campaign.lastUpdateDateTime}"></span></p>
    </div>
</body>
</html>
